@{

}

<div class="header-list">

    <div class="row">
        <div class="col-sm-12">
            <h1>Api RESTFul</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div align="center">
                <a href="/Home/ApiDoc">Click here if you don't see the documentation</a>
                <iframe id="apidociframe" src="/Home/ApiDoc" frameborder="0" height="1500px" width="100%" marginheight="0" marginwidth="0" scrolling="yes"></iframe>
            </div>
        </div>
    </div>

</div>